[Unit]
Description=trader volume prover service
After=network-online.target

[Service]
Environment=HOME=/home/ubuntu
ExecStart=/home/ubuntu/go/bin/kwenta-prover -service="fee-reimbursement" -port=43248 -numMaxDataPoints=256 -maxReceipts=256
StandardOutput=append:/var/log/kwenta-fee-reimbursement-prover/app.log
StandardError=append:/var/log/kwenta-fee-reimbursement-prover/app.log
Restart=always
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target