[Unit]
Description=trader volume large prover service
After=network-online.target

[Service]
Environment=HOME=/home/ubuntu
ExecStart=/home/ubuntu/go/bin/kwenta-large-prover -service="fee-reimbursement-large-prover" -port=43249 -numMaxDataPoints=1500 -maxReceipts=1500
StandardOutput=append:/var/log/kwenta-fee-reimbursement-large-prover/app.log
StandardError=append:/var/log/kwenta-fee-reimbursement-large-prover/app.log
Restart=always
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target