[Unit]
Description=trader volume prover service
After=network-online.target

[Service]
Environment=HOME=/home/ubuntu
ExecStart=/home/ubuntu/go/bin/algebra-prover -service="fee-discount" -port=33247
StandardOutput=append:/var/log/algebra-fee-discount-prover/app.log
StandardError=append:/var/log/algebra-fee-discount-prover/app.log
Restart=always
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target